.curseclient
logs
options.txt
saves
usercache.json
usernamecache.json
acmedia
patchouli_data.json
llibrary
crash-reports
local
.ReAuth.cfg
astralsorcery
journeymap
TombManyGraves
betweenlands_gallery
BotaniaVars.dat
cache
fonts
.mixin.out
optionsof.txt
