# Configuration file

entitiesalwaysinfernal {
    B:EntityAbyssalZombie=false
    B:EntityAntiAbyssalZombie=false
    B:EntityAntiPlayer=false
    B:EntityAntiSkeleton=false
    B:EntityAntiSpider=false
    B:EntityAntiZombie=false
    B:EntityBabySkeleton=false
    B:EntityBlueSlime=false
    B:EntityBrainyZombie=false
    B:EntityCaveSpider=false
    B:EntityConcussionCreeper=false
    B:EntityCreeper=false
    B:EntityCyberSkeleton=false
    B:EntityCyberZombie=false
    B:EntityCyclops=false
    B:EntityDepthsGhoul=false
    B:EntityEnderman=false
    B:EntityEnderminy=false
    B:EntityEvilCow=false
    B:EntityEvilWizard=false
    B:EntityEvilpig=false
    B:EntityFallenKnight=false
    B:EntityGorgon=false
    B:EntityGrottol=false
    B:EntityHydra=false
    B:EntityLesserShoggoth=false
    B:EntityPigZombie=false
    B:EntityShadowBeast=false
    B:EntityShadowCreature=false
    B:EntityShadowMonster=false
    B:EntitySilverfish=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntityStray=false
    B:EntityStymphalianBird=false
    B:EntityWitch=false
    B:EntityWitherCat=false
    B:EntityWitherWitch=false
    B:EntityWroughtnaut=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:EntityAbyssalZombie=25.0
    D:EntityBabySkeleton=20.0
    D:EntityBrainyZombie=25.0
    D:EntityConcussionCreeper=20.0
    D:EntityCreeper=20.0
    D:EntityCyberSkeleton=20.0
    D:EntityCyberZombie=20.0
    D:EntityDepthsGhoul=30.0
    D:EntityEnderman=40.0
    D:EntityEvilpig=15.0
    D:EntityLesserShoggoth=100.0
    D:EntityShadowBeast=100.0
    D:EntityShadowCreature=20.0
    D:EntityShadowMonster=50.0
    D:EntitySkeleton=20.0
    D:EntitySpider=16.0
    D:EntityZombie=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=false
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=bhc:red_heart
    S:droppedItemIDsInfernal=bhc:red_heart,bhc:yellow_heart
    S:droppedItemIDsUltra=bhc:yellow_heart
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:EntityAbyssalZombie=true
    B:EntityAntiAbyssalZombie=true
    B:EntityAntiPlayer=true
    B:EntityAntiSkeleton=true
    B:EntityAntiSpider=true
    B:EntityAntiZombie=true
    B:EntityBabySkeleton=true
    B:EntityBlueSlime=true
    B:EntityBrainyZombie=true
    B:EntityCaveSpider=true
    B:EntityConcussionCreeper=true
    B:EntityCreeper=true
    B:EntityCyberSkeleton=true
    B:EntityCyberZombie=true
    B:EntityCyclops=true
    B:EntityDepthsGhoul=true
    B:EntityEnderman=true
    B:EntityEnderminy=true
    B:EntityEvilCow=true
    B:EntityEvilWizard=true
    B:EntityEvilpig=true
    B:EntityFallenKnight=true
    B:EntityGorgon=true
    B:EntityGrottol=true
    B:EntityHydra=true
    B:EntityLesserShoggoth=true
    B:EntityPigZombie=true
    B:EntityShadowBeast=true
    B:EntityShadowCreature=true
    B:EntityShadowMonster=true
    B:EntitySilverfish=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntityStray=true
    B:EntityStymphalianBird=true
    B:EntityWitch=true
    B:EntityWitherCat=true
    B:EntityWitherWitch=true
    B:EntityWroughtnaut=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
}


